html { 
    background: url("https://static01.nyt.com/images/2019/12/17/books/review/17fatbooks/17fatbooks-superJumbo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 1rem;
    color:black;
    background-color:beige;
    border: 5px solid #73AD21;
    border-radius: 100px;
    margin-bottom: 9px;
  }

  #search-images {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
  }

  #search-images img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  #search-images img:last-child {
    margin-right: 0;
  }

  #selected-image {
    position: relative;
    background-color: beige;
    border: 5px solid #73AD21;
    margin:auto;
    margin-bottom: 5px;
  }

  #selected-image img {
    height: 350px; 
  }

  /* .book-name,
  .book-author {
    
  } */

  #description-div {
    position: relative;
    background-color: beige;
    border: 4px solid #73AD21;
    border-radius: 8%;
    margin:auto;
    display:table;
  }
  
  #description-header {
      position: relative;
      margin:auto;
      display: table
  }

  #description-text {
    position: relative;
    margin:auto;
    display: table;
    font-size: larger;
    word-wrap: break-word;
}

#search-form {
  background-color: beige;
  margin: auto;
  margin-bottom: 5px;
  border: 4px solid #73AD21;
}

#search-div {
  background-color: beige;
  height: 250px;
  width: 700px;
  border: 4px solid #73AD21;
  margin: auto;
  margin-bottom: 5px;
}

#user-div {
  background-color: beige;
  height: 250px;
  width: 700px;
  border: 4px solid #73AD21;
  margin: auto;
}




  